@import "variables";

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4em;
  height: fit-content;
  background-color: $black;
  .social-media-icons {
    display: flex;
  }

  .icon {
    width: 2em;
    height: 2em;
    margin: 1em;
    border-radius: 0.5em;
    background-color: $lightGrey;
  }

  .logo {
    svg {
      width: 256px;
    }
  }
}
