footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4em;
  height: fit-content;
  background-color: var(--black);
}

.social-media-icons {
  display: flex;
}

.icon {
  width: 2em;
  height: 2em;
  margin: 1em;
  border-radius: 0.5em;
  background-color: var(--ligthGrey);
}

.logo {
  width: 6em;
  height: 6em;
  background-color: var(--orange);
}
