@import "variables";

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  .scroll-down {
    position: absolute;
    bottom: 32px;
    cursor: pointer;
    border: none;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    svg {
      width: 64px;
      height: 64px;
      path {
        stroke: $white;
      }
    }
  }
}

.drip {
  overflow-x: hidden;
  position: relative;
  span {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 96px;
    background-color: $black;
  }
  svg {
    width: 100%;
  }
  @media (max-width: 1400px) {
    svg {
      width: max-content;
    }
  }
}
