@import "variables";

.cover {
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  .cover {
    height: calc(100vh - 7em);
    top: unset;
    bottom: 0;
  }
}

section {
  position: relative;
  &.full-page {
    height: 100vh;
  }
  &.content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2em;
    img {
      margin: 1em;
      object-fit: cover;
      width: 100%;
      max-height: 50vh;
    }
    @media (min-width: 1200px) {
      .text {
        width: 300px;
      }
      img {
        width: 75%;
      }
      flex-direction: row;
      justify-content: space-around;
    }
  }
  &.gallery {
    display: flex;
    justify-content: center;
    .title {
      position: absolute;
      z-index: 1;
      top: 16px;
      //move into typography later
      font-size: 3em;
      color: $white;
    }
    .images {
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
      display: flex;
      .slide {
        position: relative;
        display: flex;
        justify-content: center;
        min-width: 100vw;
        height: 100vh;
        scroll-snap-align: center;
        .artist {
          position: absolute;
          color: $white;
          font-size: 2em;
          bottom: 4em;
        }
        img {
          z-index: -1;
          object-fit: cover;
          width: 100vw;
          height: 100vh;
        }
      }
    }
    .indicators {
      position: absolute;
      bottom: 16px;

      button {
        margin: 0px 16px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid $white;
        background-color: unset;
        cursor: pointer;
        transition: background-color 0.1s ease-in;

        &.active {
          background-color: $orange;
        }

        &:focus {
          outline: unset;
        }
      }
    }
  }
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.attendance-form {
  background-color: $white;
  padding: 2em;
  margin: 2em;
  border-radius: 4px;
  form {
    display: flex;
    flex-direction: column;
    * {
      margin: 0.5em 0;
    }
  }
}
