.cover {
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  .cover {
    height: calc(100vh - 7em);
    top: unset;
    bottom: 0;
  }
}

.wave-divider {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  svg {
    &.wave-up {
      position: absolute;
      bottom: -5px;
    }
    &.wave {
      position: absolute;
      top: 0px;
    }
  }
}

section {
  position: relative;

  &.full-page {
    height: 100vh;
  }

  &.content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px;
    .text {
      max-width: 600px;
    }
    img {
      object-fit: cover;
      width: 100%;
      max-height: 40vh;
    }
    @media (min-width: 1200px) {
      .text {
        width: 400px;
        margin-right: 48px;
      }
      img {
        max-width: 75%;
        max-height: 75vh;
      }
      flex-direction: row;
      justify-content: space-around;
    }
  }
  &.gallery {
    display: flex;
    justify-content: center;
    .cow-title {
      transform: rotate(18deg);
      position: absolute;
      top: 48px;
      color: $white;
      width: 192px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (min-width: 1400px) {
        width: 256px;
        top: 64px;
        h2 {
          font-size: 2em;
        }
      }
      svg {
        position: absolute;
        z-index: 0;
        width: inherit;
      }
      h2 {
        transform: rotate(-23deg);
        font-size: 1.6em;
        z-index: 1;
      }
    }
    .images {
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
      display: flex;
      .slide {
        position: relative;
        display: flex;
        justify-content: center;
        min-width: 100vw;
        height: 100vh;
        scroll-snap-align: center;
        .artist {
          background-color: $black;
          border-radius: 4px;
          padding: 8px 12px;
          position: absolute;
          color: $white;
          font-size: 1.5em;
          bottom: 64px;
        }
        img {
          z-index: -1;
          object-fit: cover;
          width: 100%;
          height: 100vh;
        }
      }
    }
    .indicators {
      position: absolute;
      bottom: 24px;
      button {
        margin: 0px 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 2px solid $white;
        background-color: unset;
        cursor: pointer;
        transition: background-color 0.1s ease-in;
        &.active {
          background-color: $orange;
        }
        &:focus {
          outline: unset;
        }
      }
    }
    @media (min-width: 1200px) {
      .images {
        .slide {
          min-width: 33vw;
        }
      }
      .indicators {
        display: none;
      }
    }
  }

  &.attendance-form {
    height: fit-content;
    min-height: 100vh;
    .background {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .form-wrapper {
      background-color: $white;
      border: 1px solid $orange;
      padding: 16px;
      margin: 16px;
      border-radius: 4px;
      max-width: 450px;
      form {
        display: flex;
        flex-direction: column;
        * {
          margin: 8px 0;
        }
        input {
          background-color: $lightGrey;
          border: 1px solid $black;
          border-radius: 4px;
        }
      }
    }
    .btn {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      padding: 8px;
      background-color: $blue;
      color: $white;
      border: none;
      box-shadow: $darkBlue 0px 3px;
      transition-property: box-shadow, transform;
      transition-duration: 0.2s;
      transition-timing-function: ease-out;
      &:hover {
        box-shadow: $darkBlue 0px 3px 10px;
        transform: scale(1.1);
      }
    }
  }
}
