:root {
  --black: #000000;
  --white: #ffffff;
  --orange: #ed7102;
  --grey: #343333;
  --ligthGrey: #aaaaaa;
  --blue: #0098a3;
  --darkBlue: #167b84;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.drip {
  width: 100%;
}

.drip svg {
  width: inherit;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 0.5em;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  box-shadow: var(--darkBlue) 0px 3px;
  transition-property: box-shadow, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.btn:hover {
  box-shadow: var(--darkBlue) 0px 3px 10px;
  transform: scale(1.1);
}
