html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a:link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 0.5em;
  background-color: $blue;
  color: $white;
  border: none;
  box-shadow: $darkBlue 0px 3px;
  transition-property: box-shadow, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  &:hover {
    box-shadow: $darkBlue 0px 3px 10px;
    transform: scale(1.1);
  }
}
nav {
  .wave {
    position: absolute;
    top: 7em;
    left: 0;
    width: 100%;
    z-index: 0;
  }
}

.wave-divider {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  svg {
    &.wave-up {
      position: absolute;
      bottom: -5px;
    }
    &.wave {
      position: absolute;
      top: 0px;
    }
  }
}
