html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a:link {
  text-decoration: none;
}

button {
  &:focus {
    outline: none;
  }
  &:focus-visible {
    outline: $orange;
    outline-style: auto;
  }
}
