@import url("https://use.typekit.net/fbx4rpf.css");

body {
  font-family: sans-serif;
}

header {
  color: var(--white);
}

header h1 {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
}

header p {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1em;
}

.text {
  font-family: futura-pt, sans-serif;
  line-height: 1.5em;
}

.text p,
h2 {
  font-weight: 700;
  font-style: normal;
  line-height: 1.5em;
}

.text h2 {
  font-size: 2em;
}

.attendance-form {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer {
  color: var(--ligthGrey);
}

footer .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
